:root {
  --font-color-man: #757575;
  --font-color-title: #212121;
  --font-color-on: #2196f3;
  --font-color-on-button: #188CE8;
  --border-color: #ececec;
  --color-white: #ffffff;
  --font-color-black: #000000;
  --fon-footer: #2f303a;
  --backup-hero: #c4c4c4;
  --color-grey: #f5f4fa;
  --color-icon: #afb1b8;
}

.hide-it {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

.nav-list__link.current {
  color: var(--font-color-on);
}

.current::after {
  display: inline-block;
  content: "";
  background-color: var(--font-color-on);
  height: 4px;
  width: 100%;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--font-color-man);
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
ul,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--font-color-black);
  /* outline: none; */
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* logo WebStudio*/
.logo {
  font-family: "Raleway", sans-serif;
  color: var(--font-color-black);
  font-weight: 700;
  font-size: 24px;
  -webkit-transition: font-weight 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: font-weight 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:hover, .logo:focus {
  font-weight: 900;
}
.logo .logo__blue {
  color: var(--font-color-on);
}
.logo .logo--footer {
  color: var(--color-white);
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 206px;
  margin-right: auto;
  margin-left: auto;
}

.social-list__item {
  width: 44px;
  height: 44px;
}

.social-list__link {
  background-color: var(--color-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: var(--color-icon);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--font-color-on);
  fill: var(--color-white);
}

.social-list__link--gray {
  background-color: rgba(255, 255, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: var(--color-white);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list__link--gray:hover, .social-list__link--gray:focus {
  background-color: var(--font-color-on);
  /* fill: var(--color-icon); */
}

.subscribe-form {
  display: block;
}

.subscribe-form__wraper {
  display: block;
}

.subscribe-form__input {
  width: 450px;
  height: 50px;
  margin-top: 20px;
  padding-left: 20px;
  background-color: var(--fon-footer);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15)); */
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.subscribe-form__input:focus {
  outline: none;
  border: 1px solid var(--font-color-on);
}

@media screen and (min-width: 1200px) {
  .subscribe-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .subscribe-form__wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 93px;
  }
  .subscribe-form__input {
    width: 358px;
    margin-top: 0px;
  }
}
.backdrop-hero {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop-hero.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 450px;
  height: 609px;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  padding: 40px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  background-color: var(--color-white);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 1000ms;
  transition: -webkit-transform 1000ms;
  transition: transform 1000ms;
  transition: transform 1000ms, -webkit-transform 1000ms;
}
.backdrop-hero.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.3);
          transform: translate(-50%, -50%) scale(0.3);
  /* pointer-events: none; */
}

.modal__call {
  margin-bottom: 12px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: var(--font-color-title);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
  .modal__call {
    line-height: 1.15;
  }
}
.close-x {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--color-white);
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.close-x-icon {
  fill: var(--font-color-black);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-x:hover .close-x-icon, .close-x:focus .close-x-icon {
  fill: var(--font-color-on);
}

.form__name {
  display: block;
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
}

.form__input-name {
  display: block;
  width: 100%;
  height: 40px;
  margin-top: 4px;
  margin-bottom: 10px;
  border-radius: 4px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.form__input-name:focus {
  outline: none;
  border: 1px solid var(--font-color-on);
}

.form__icon {
  display: block;
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  fill: var(--font-color-black);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form__name:focus-within > .form__icon {
  fill: var(--font-color-on);
}

.form__input-name--comment {
  height: 120px;
  margin-bottom: 0;
  padding: 12px;
}
.form__input-name--comment::-webkit-input-placeholder {
  font-style: normal;
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__input-name--comment::-moz-placeholder {
  font-style: normal;
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__input-name--comment:-ms-input-placeholder {
  font-style: normal;
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__input-name--comment::-ms-input-placeholder {
  font-style: normal;
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__input-name--comment::placeholder {
  font-style: normal;
  font-size: 12px;
  line-height: 1.1666;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea {
  resize: none;
}

.check__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  cursor: pointer;
}

.form__link-check {
  color: var(--font-color-on);
  text-decoration: underline;
}

.form__check-berd {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 9px;
  border: 2px solid var(--font-color-black);
  border-radius: 2px;
}
.form__check-button:checked + .form__check-berd {
  border-color: var(--font-color-on);
  background-color: var(--font-color-on);
  background-image: url(../img/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}
.form__check-button:focus + .form__check-berd {
  border-color: var(--font-color-on);
}

.form__check-button {
  margin-top: 16px;
  margin-right: 7px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

@media screen and (min-width: 1200px) {
  .check__name {
    font-size: 14px;
    line-height: 1.71;
  }
  .form__check-button {
    margin-top: 25px;
    margin-left: 14px;
  }
}
.button--subscribe {
  display: block;
  position: relative;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  border: solid 1px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 28px;
  text-decoration: none;
  text-align: center;
  background-color: var(--font-color-on);
  border-color: var(--font-color-on);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  font-family: inherit;
  color: var(--color-white);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.button--subscribe:hover, .button--subscribe:focus {
  background-color: var(--font-color-on-button);
  /* outline: none; */
}
@media screen and (min-width: 1200px) {
  .button--subscribe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 35px;
    margin-left: 12px;
    margin-right: 0;
  }
}

.subscribe-icon {
  position: absolute;
  top: 30%;
  right: 1px;
  margin-left: 10px;
  margin-right: 18px;
  fill: currentColor;
}
@media screen and (min-width: 1200px) {
  .subscribe-icon {
    right: 18px;
  }
}

.button--success {
  display: inline-block;
  min-width: 200px;
  border-radius: 4px;
  border: solid 1px;
  margin-top: 30px;
  padding: 10px 24px;
  background-color: var(--font-color-on);
  border-color: var(--font-color-on);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  font-family: inherit;
  color: var(--color-white);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.button--success:hover, .button--success:focus {
  background-color: var(--font-color-on-button);
  /* outline: none; */
}
@media screen and (min-width: 1200px) {
  .button--success {
    min-width: 216px;
    padding: 10px 32px;
  }
}

.button--send {
  display: block;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  border: solid 1px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 52px;
  background-color: var(--font-color-on);
  border-color: var(--font-color-on);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  font-family: inherit;
  color: var(--color-white);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.button--send:hover, .button--send:focus {
  background-color: var(--font-color-on-button);
  /* outline: none; */
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.filter-list .filter-list__item + .filter-list__item {
  margin-left: 8px;
}

.filter-list__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 4px;
  border: solid 1px;
  padding: 6px 25px;
  min-width: 73px;
  color: var(--font-color-title);
  background-color: var(--color-grey);
  border-color: var(--color-grey);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  font-family: inherit;
  cursor: pointer;
  text-align: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-list__button:hover, .filter-list__button:focus {
  color: var(--color-white);
  background-color: var(--font-color-on);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card-portfolio {
  display: block;
  width: 370px;
}

.card-portfolio__link {
  display: block;
  position: relative;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-portfolio__link:hover, .card-portfolio__link:focus {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-portfolio__img-example {
  overflow: hidden;
  position: relative;
}

.backdrop-portfolio {
  position: absolute;
  /* width: 370px; */
  /* height: 294px; */
  top: 0;
  right: 0;
  padding: 63px 24px;
  color: var(--color-white);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  -webkit-transition: opacity 500ms linear, -webkit-transform 500ms linear;
  transition: opacity 500ms linear, -webkit-transform 500ms linear;
  transition: opacity 500ms linear, transform 500ms linear;
  transition: opacity 500ms linear, transform 500ms linear, -webkit-transform 500ms linear;
}
.card-portfolio__link:focus .backdrop-portfolio, .card-portfolio__link:hover .backdrop-portfolio {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

.card-portfolio__single {
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.card-portfolio__title {
  color: var(--font-color-title);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-align: left;
  margin-top: 0;
  margin-bottom: 4px;
}

.card-portfolio__text {
  color: var(--font-color-man);
  font-size: 16px;
  line-height: 1.9;
  margin-top: 0;
  margin-bottom: 0;
}

header {
  background-color: var(--color-white);
  border-bottom: 1px solid var(--border-color);
}

.nav-main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

.nav-site,
.nav-list,
.nav-contacts {
  display: none;
}

.mobile-menu__button-open {
  padding: 0;
  border: none;
  background-color: transparent;
  line-height: 0;
  fill: var(--font-color-black);
  cursor: pointer;
}
.mobile-menu__button-open:hover, .mobile-menu__button-open:focus {
  fill: var(--font-color-on);
}

.mobile-menu__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  padding: 48px 40px;
  background: var(--color-white);
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__button-close {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 0;
  border: none;
  background-color: transparent;
  line-height: 0;
  fill: var(--font-color-title);
  cursor: pointer;
}
.mobile-menu__button-close:hover, .mobile-menu__button-close:focus {
  fill: var(--font-color-on);
}

.mobile-menu__button-open.is-open + .mobile-menu__container {
  opacity: 1;
}

.mobile-menu__item {
  padding-bottom: 32px;
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 0.02em;
  color: var(--font-color-title);
}
.mobile-menu__link:hover, .mobile-menu__link:focus {
  color: var(--font-color-on);
}

.mobile-menu__contacts {
  padding-top: 270px;
}

.mobile-menu__contacts-item {
  padding-bottom: 32px;
}

.mobile-menu__contacts-phone {
  font-weight: 500;
  font-size: 34px;
  letter-spacing: 0.02em;
  color: var(--font-color-on);
}
.mobile-menu__contacts-phone:hover, .mobile-menu__contacts-phone:focus {
  color: var(--font-color-on);
}

.mobile-menu__contacts-e-mail {
  padding-top: 32px;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.02em;
  color: var(--font-color-man);
}
.mobile-menu__contacts-e-mail:hover, .mobile-menu__contacts-e-mail:focus {
  color: var(--font-color-man);
}

.mobile-menu__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-menu__social-list-item:not(:last-child):after {
  display: inline-block;
  content: "";
  margin-left: 6px;
  margin-right: 10px;
  background-color: rgba(33, 33, 33, 0.2);
  height: 22px;
  width: 1px;
}

.mobile-menu__social-list-link {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.02em;
  color: var(--font-color-on);
}
.mobile-menu__social-list-link:hover, .mobile-menu__social-list-link:focus {
  color: var(--font-color-on);
}

@media screen and (min-width: 768px) {
  .nav-main {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    height: 80px;
  }
  .nav-site {
    display: block;
  }
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 93px;
  }
  .mobile-menu__button-open,
.mobile-menu__container {
    display: none;
  }
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 87px;
  }
  .nav-list .nav-list__item + .nav-list__item {
    margin-left: 50px;
  }
  .nav-contacts {
    display: block;
    margin-left: auto;
  }
  .nav-list__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--font-color-title);
    text-decoration: none;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-list__link:focus, .nav-list__link:hover {
    color: var(--font-color-on);
  }
  .nav-contacts {
    padding-left: 90px;
  }
  .nav-contacts__link {
    display: block;
    padding-top: 10px;
    color: var(--fo4nt-color-man);
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav-contacts__link:focus, .nav-contacts__link:hover {
    color: var(--font-color-on);
  }
  .nav-contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: var(--font-color-man);
    padding-left: 10px;
  }
  .nav-contacts__icon-envelope {
    fill: currentColor;
    width: 14px;
    height: 10px;
    margin-right: 10px;
  }
  .nav-contacts__icon-smartphone {
    fill: currentColor;
    width: 10px;
    height: 14px;
    margin-right: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .nav-list {
    margin-left: 92px;
  }
  .nav-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-contacts .nav-contacts__item:not(:last-child) {
    margin-right: 30px;
  }
  .nav-contacts {
    padding-left: 300px;
  }
  .nav-contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0;
    font-size: 14px;
  }
  .nav-contacts__icon-envelope {
    width: 16px;
    height: 12px;
  }
  .nav-contacts__icon-smartphone {
    width: 10px;
    height: 16px;
  }
}
section.hero {
  display: block;
  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--backup-hero);
}

.hero__title {
  width: 360px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
}

@media screen and (min-width: 768px) {
  section.hero {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  section.hero {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .hero__title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}
section.advantage {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--color-white);
}

.advantage__list {
  display: block;
}

.advantage__title {
  margin: 0px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.15;
  text-transform: uppercase;
  color: var(--font-color-title);
}

.advantage__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 450px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--color-grey);
}

.advantage__text {
  margin-top: 10px;
  margin-bottom: 30px;
  line-height: 1.7;
}

@media screen and (min-width: 768px) {
  .advantage__list {
    display: grid;
    grid-template-columns: 354px 354px;
    gap: 30px;
  }
  .advantage__img {
    width: 354px;
    height: 120px;
  }
  .advantage__text {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  section.advantage {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .advantage__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
  }
  .advantage__img {
    width: 270px;
    height: 120px;
  }
}
@media screen and (min-width: 480px) {
  section.fiches {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  section.fiches {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  section.fiches {
    display: block;
  }
  section.fiches {
    padding-top: 0;
    padding-bottom: 94px;
    background-color: var(--color-white);
  }
  .fiches__title {
    color: var(--font-color-title);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
  }
  .fiches__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 50px;
  }
  .fiches__img {
    position: relative;
  }
  .fiches__element {
    position: absolute;
    height: 70px;
    width: 370px;
    bottom: 0;
    right: 0;
    color: var(--color-white);
    font-weight: 700;
    line-height: 1.14;
    text-align: center;
    padding-top: 27px;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
  }
}
section.command {
  background-color: var(--color-grey);
  padding-top: 60px;
  padding-bottom: 60px;
}

.command__title {
  color: var(--font-color-title);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.command__list {
  display: block;
  margin-top: 30px;
  /* flex-wrap: wrap; */
}

.command-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--color-white);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.command-card__sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 30px;
  padding-bottom: 30px;
}

.command-card__name {
  color: var(--font-color-title);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
}

.command-card__profession {
  font-size: 16px;
  text-align: center;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .command__list {
    display: grid;
    grid-template-columns: 354px 354px;
    gap: 30px;
  }
  .command-card {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  section.command {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .command__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50px;
    /* flex-wrap: wrap; */
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
section.regular-clients {
  background-color: var(--color-white);
  padding-top: 30px;
  padding-bottom: 60px;
}

.regular-clients__title {
  color: var(--font-color-title);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.regular-clients__list {
  display: grid;
  grid-template-columns: 210px 210px;
  gap: 30px;
}

.regular-clients__item {
  width: 210px;
  height: 92px;
}

.regular-clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-icon);
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: var(--color-icon);
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.regular-clients__link:hover, .regular-clients__link:focus {
  border-color: var(--font-color-on);
  fill: var(--font-color-on);
}

@media screen and (min-width: 768px) {
  .regular-clients__list {
    display: grid;
    grid-template-columns: 226px 226px 226px;
    gap: 30px;
  }
  .regular-clients__item {
    width: 226px;
    height: 92px;
  }
}
@media screen and (min-width: 1200px) {
  section.regular-clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .regular-clients__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .regular-clients__item {
    width: 170px;
    height: 92px;
  }
}
footer {
  background-color: var(--fon-footer);
  height: 603px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.container--footer {
  display: block;
  text-align: center;
}

.logo--footer {
  color: var(--color-white);
}

.footer-address {
  display: block;
}

.footer-address__list {
  margin-top: 20px;
}

.footer-address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address-map,
.address-all {
  line-height: 1.7;
  color: var(--color-white);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-map:hover, .address-map:focus,
.address-all:hover,
.address-all:focus {
  color: var(--font-color-on);
}

.address-all {
  color: rgba(255, 255, 255, 0.6);
  display: inline-block;
}

.subscribe-form__wraper {
  margin-top: 60px;
}

.join__title,
.subscribe-form__title {
  margin-top: 60px;
  margin-bottom: 20px;
  padding: 0;
  color: var(--color-white);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.15;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  footer {
    height: 463px;
  }
  .container--footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 76px;
    padding-right: 89px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-address {
    text-align: center;
  }
  .join__title {
    margin-top: 0px;
  }
}
@media screen and (min-width: 1200px) {
  footer {
    height: 252px;
    padding-top: 60px;
  }
  .container--footer {
    text-align: start;
    padding-left: 15px;
    padding-right: 15px;
  }
  .footer-address {
    text-align: start;
    margin-right: 94px;
  }
  .footer-address__list {
    margin-top: 20px;
  }
  .footer-address__item:not(:last-child) {
    margin-bottom: 9px;
  }
  .address-map,
.address-all {
    line-height: 1.7;
    color: var(--color-white);
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-map:hover, .address-map:focus,
.address-all:hover,
.address-all:focus {
    color: var(--font-color-on);
  }
  .address-all {
    color: rgba(255, 255, 255, 0.6);
    display: inline-block;
  }
  .subscribe-form__wraper {
    margin-top: 0px;
  }
  .join__title,
.subscribe-form__title {
    margin-top: 0px;
  }
}
section.portfolio {
  background-color: var(--color-white);
  padding-top: 94px;
  padding-bottom: 94px;
}

.work-examples-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}/*# sourceMappingURL=main.css.map */