.nav-main {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 60px;
}

.nav-list {
	display: none;
}

.nav-contacts {
	display: none;
}

.mobile-menu__button {
	position: absolute;
	// display: inline-flex;
	z-index: 2;
	top: 10px;
	right: 15px;
	margin: 0;
	padding: 0;
	border: none;
	background-color: transparent;

	&:hover,
	&:focus {
		fill: var(--font-color-on);
	}
}

.mobile-menu__icon-x {
	fill: var(--font-color-title);
}

.mobile-menu__button .mobile-menu__icon-x {
	display: none;
}

.mobile-menu__button.is-open .mobile-menu__icon-x {
	display: block;
}

.mobile-menu__button.is-open .mobile-menu__icon--menu {
	display: none;
}

.mobile-menu__container {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	padding: 48px 40px;

  background: var(--color-white);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
	
  opacity: 0;
}

.mobile-menu__button.is-open + .mobile-menu__container {
	opacity: 1;
}

.mobile-menu__item {
  padding-bottom: 32px;
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 0.02em;
  color: var(--font-color-title);

	&:hover,
	&:focus {
		color: var(--font-color-on);
	}
}

.mobile-menu__contacts {
  padding-top: 270px;
}

.mobile-menu__contacts-item {
  padding-bottom: 32px;
}

.mobile-menu__contacts-phone {
  font-weight: 500;
  font-size: 34px;
  letter-spacing: 0.02em;
  color: var(--font-color-on);

	&:hover,
	&:focus {
		color: var(--font-color-on);
	}
}

.mobile-menu__contacts-e-mail {
  padding-top: 32px;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.02em;

  color: var(--font-color-man);

	&:hover,
	&:focus {
		color: var(--font-color-man);
	}
}

.mobile-menu__social-list {
  display: flex;
  padding-top: 32px;
  align-items: center;
}

.mobile-menu__social-list-item:not(:last-child):after {
  display: inline-block;
  content: "";
  margin-left: 6px;
  margin-right: 10px;
  background-color: rgba(33, 33, 33, 0.2);
  height: 22px;
  width: 1px;

  // transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__social-list-link {
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.02em;
  color: var(--font-color-on);

	&:hover,
	&:focus {
		color: var(--font-color-on);
	  }
  }

// .mobile-menu__social-list-link:hover .mobile-menu__social-list-item:not(:last-child):after,
// .mobile-menu__social-list-link:hover .mobile-menu__social-list-item:not(:last-child):after {
//   background-color: var(--font-color-on);
//   }

// @media screen and (min-width: 480px) {

// }


@media screen and (min-width: 768px) {
.nav-list {
	display: flex;
	margin-left: 93px;
  }

.mobile-menu__button {
  display: none;
  }

.mobile-menu__container {
  display: none;
  }
}

@media screen and (min-width: 1200px) {
}

// .nav-list .nav-list__item + .nav-list__item {
//   margin-left: 50px;
// }

/* .nav-list .item:not(:last-child) {
    margin-right: 50px;
} */

// .nav-contacts {
//   display: flex;
//   margin-left: auto;
//   /* align-items: center; */
//   /* justify-content: center; */

//   & .nav-contacts__item:not(:last-child) {
//     margin-right: 30px;
//   }
// }

/* .address-nav .item {
  align-items: center;
} */

/* .address-nav .item + .item {
  margin-left: 50px;
} */

// .nav-list__link,
// .nav-contacts__link {
//   position: relative;
//   display: block;
//   padding-top: 32px;
//   padding-bottom: 32px;

//   color: var(--font-color-title);
//   text-decoration: none;
//   font-weight: 500;
//   line-height: 1.14;
//   letter-spacing: 0.02em;

//   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

//     &:focus,
//     &:hover {
//       color: var(--font-color-on);
//     }
// }

// .nav-contacts__link {
//   display: flex;
//   color: var(--font-color-man);
//   padding-left: 10px;
// }

// .nav-contacts__icon-envelope {
//   fill: currentColor;
//   width: 16px;
//   height: 12px;
//   margin-right: 10px;
// }

// .nav-contacts__icon-smartphone {
//   fill: currentColor;
//   width: 10px;
//   height: 16px;
//   margin-right: 10px;
// }
